Options +FollowSymLinks -Indexes
RewriteEngine On
RewriteBase /



rewriteCond %{REQUEST_FILENAME} !-f
rewriteCond %{REQUEST_FILENAME} !-d
rewriterule ^roofing-([a-z_A-Z]+)-([a-z_A-Z]+)-free-([0-9]+).html?$ templates/template1/geoscript.php?state=$1&city=$2&zipcode=$3 [L]

